@{
    var accountId = Context.Session.GetInt32("AccountId");
}
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="right-phone-box">
                    <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a asp-action="profile" asp-controller="account"><i class="fa fa-user s_color"></i> My Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    @if (accountId == null)
                    {
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In" onchange="location = this.value;">
                            >
                            <option value="/Account/Register">Register Here</option>
                            <option value="/Account/Login">Sign In</option>
                        </select>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="Logout" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn đăng xuất không?')">
                            <button type="submit" class="form-control bg-[#b0b435] text-white hover:bg-[#9aa22d]">
                                Đăng xuất
                            </button>
                        </form>
                    }


                </div>
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>