@model FreshFruit.Models.Category

@{
    ViewData["Title"] = "Add Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product Add Category</h4>
                    <h6>Create new product category</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                        <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
