@model int

<li class="side-menu">
    <a asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-bag"></i>
        <span class="badge">@Model</span>
        <p>My Cart</p>
    </a>
</li>