@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Thành công!',
            text: '@TempData["SuccessMessage"]',
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true
        });
    </script>
}

<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    @* <div class="login-logo">
                        <img src="/admin/assets/img/logo.png" alt="img">
                    </div> *@
                    <div class="login-userheading">
                        <h3>Sign In</h3>
                        <h4>Please login to your account</h4>
                    </div>

                    <!-- FORM ĐĂNG NHẬP -->
                    <form asp-action="Login" method="post">
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="text" name="UserName" placeholder="Enter your email address" required />
                                <img src="/admin/assets/img/icons/mail.svg" alt="img" />
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" name="Password" class="pass-input" placeholder="Enter your password" required />
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <div class="alreadyuser">
                                <h4><a href="forgetpassword.html" class="hover-a">Forgot Password?</a></h4>
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Sign In</button>
                        </div>
                    </form>

                    <div class="signinform text-center">
                        <h4>Don’t have an account? <a href="/Account/Register" class="hover-a">Sign Up</a></h4>
                    </div>

                    <div class="form-setlogin">
                        <h4>Or sign up with</h4>
                    </div>
                    <div class="form-sociallink">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="/admin/assets/img/icons/google.png" class="me-2" alt="google">
                                    Sign Up using Google
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="/admin/assets/img/icons/facebook.png" class="me-2" alt="facebook">
                                    Sign Up using Facebook
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login-img">
                <img src="/admin/assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>
