@model FreshFruit.Models.ViewModel.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    @* <div class="login-logo">
                        <img src="/admin/assets/img/logo.png" alt="img">
                    </div> *@
                    <div class="login-userheading">
                        <h3>Create an Account</h3>
                        <h4>Continue where you left off</h4>
                    </div>

                    @* FORM ĐĂNG KÝ *@
                    <form asp-action="Register" method="post">
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input asp-for="Password" type="password" class="form-control pass-input" placeholder="Enter your password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-login">
                            <label>Confirm Password</label>
                            <div class="pass-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control pass-input" placeholder="Confirm your password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Sign Up</button>
                        </div>
                    </form>

                    <div class="signinform text-center">
                        <h4>
                            Already a user? <a href="/Account/Login" class="hover-a">Sign In</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="login-img">
                <img src="/admin/assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>